body{background-color:plum;color:yellow;font-family:Verdana;font-size:110%;
}

p {
    border: 2px solid white;
    outline: #4CAF50 solid 5px;
    margin: auto;    
    padding: 10px;
    outline-style:dotted;
    text-align: center;
    outline-color:hotpink
    
}
